@media screen and (min-width: 1025px)and (max-width: 1450px)  {
    
    html {
        overflow-x: hidden;
    }

    .video video {
        width: 100%;
    }

    .inner_contants {
        width: 100%;
    }

    .feature_wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact {
        width: 100%;
    }
 
 
    .footer {
        width: 100%;
    }

}

@media screen and (max-width: 1250px) {
    
    html {
        overflow-x: hidden;
    }


    .feature_contants {
        width: 60%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
   }

    .feature_img {
        width: 100%;
    }

    .feature_img img {
        width: 100%;
    }
}


@media screen and (min-width:768px) and (max-width: 1024px) {
    
    html {
        overflow-x: hidden;
    }

    .video video {
        width: 100%;
        height: auto;
}

    
    .header_logo h1 {
        font-size: 35px;
    }

    .inner_contants {
        width: 90%;
    }

    

    .feature_contants {
        width: 70%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
   }

    .contact {
        width: 100%;
    }
 
    .footer {
        width: 100%;
    }
    


    
}


@media screen and (min-width:541px) and (max-width: 767px) {
    
    html {
        overflow-x: hidden;
    }

    .video video {
        width: 100%;
}

    .header_logo h1 {
        font-size: 30px;
    }

 
    .inner_contants {
        width: 90%;
    }

    .p-img {
        width: 90%;
    }

   .p_contants {
       width: 90%;
       display: block;
       text-align: center
   }

   .p-contant {
       margin: 0 auto;
       text-align: center;
   }

   .feature_contants {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
   }

   .contact {
       width: 100%;
   }


   .footer {
       width: 100%;
   }
  

}

@media screen and (max-width: 640px) {
    
    html {
        overflow-x: hidden;
    }


    .contact_right {
        text-align: center;
    }

    .contact_right input,textarea {
        width: 90%;
    }
}

@media screen and (max-width: 540px) {
    
    html {
        overflow-x: hidden;
    }

    .video video {
        width: 100%;
}

     .header_logo h1 {
        font-size: 30px;
    }

    .inner_contants {
        width: 90%;
    }


   .p_contants {
       display: block;
       text-align: center
   }

   .p-contant {
       margin: 0 auto;
       text-align: center;
   }

   .feature_contants {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .contact {
        width: 100%;
    }
 
 
    .footer {
        width: 100%;
    }
}
