@media screen and (min-width: 1025px)and (max-width: 1450px)  {

    html {
        overflow-x: hidden;
    }

    .video video {
        width: 100%;
    }

    .inner_contants {
        width: 100%;
    }

    .warks_wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact {
        width: 100%;
    }
 
 
    .footer {
        width: 100%;
    }

}

@media screen and (max-width: 1250px) {

    html {
        overflow-x: hidden;
    }


    .warks_contants {
        width: 60%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
   }

    .warks_img {
        width: 100%;
    }

    .warks_img img {
        width: 100%;
    }
}


@media screen and (min-width:768px) and (max-width: 1024px) {

    html {
        overflow-x: hidden;
    }

    .video video {
        width: 100%;
        height: auto;
}

    
    .header_logo h1 {
        font-size: 35px;
    }

    .inner_contants {
        width: 90%;
    }

    

    .warks_contants {
        width: 70%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
   }

    .contact {
        width: 100%;
    }
 
    .footer {
        width: 100%;
    }
    


    
}


@media screen and (min-width:541px) and (max-width: 767px) {

    html {
        overflow-x: hidden;
    }

    .video video {
        width: 100%;
}

    .header_logo h1 {
        font-size: 30px;
    }

 
    .inner_contants {
        width: 90%;
    }

    .p_contants {
        margin: 0 auto;
    }

   .warks_contants {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
   }

   .contact {
       width: 100%;
   }


   .footer {
       width: 100%;
   }
  

}

@media screen and (max-width: 640px) {

    .contact_right input,textarea {
        width: 90%;
    }
}

@media screen and (max-width: 540px) {

    html {
        overflow-x: hidden;
    }

    .video video {
        width: 100%;
}

     .header_logo h1 {
        font-size: 30px;
    }

    .inner_contants {
        width: 90%;
    }


    .top-front {
        width: 100%;
        min-height: auto;
        background-color: black;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .top-contant {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0;
        right: -2000px;
        overflow-x: hidden;
        overflow-y: auto ;
        background-color: black;
        transition: all 1s;
        z-index: 3;
    }
    
    .top-contant.open {
        right: 0;
    }
  

    .top-contant p {
        padding: 20px;
        font-size: 20px;
        color: white;
        line-height: 40px;
        letter-spacing: 1px;
    
    }

    .top-c-btn {
        width: 250px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer;
    }


    .p-img  img {
        width: 300px;
        height: 300px;
    }


   .p_contants {
       display: block;
       text-align: center;
       margin: 0 auto;
   }

   .p-contant {
       margin: 0 auto;
       text-align: center;
   }

   .warks_contants {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .contact {
        width: 100%;
    }

    .contact_contants {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    input {
        width: 90%;
    }
 
 
    .footer {
        width: 100%;
    }
}
